h1{
	color: gold;
	text-align: center;
	font-weight: bold;
}
.one{
	background-image: linear-gradient(
    to bottom right,
      maroon,
      #fa7e1e,
      #fa7e1e,
      maroon
  );
	border-radius: 1.5em;
	box-shadow: 5px 15px 25px #000;
}
body{
	background-image: url("ff1.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.tab{
	max-width: 800%;
	padding:0 1.2em;
	border-radius: 1.5rem;
	background-color: #333;
	line-height: 2em;
	font-weight: bold;
	transition: all 0.5s linear;
	box-shadow: 5px 15px 25px #000;
}
ul{
	display: flex;
	list-style: none;
}
a{
	color: white;
	text-decoration:none;
	padding-right: 25px;
	transition: color 256ms;
}
a:hover{
	color: #297;
}

.row{
  display: flex;
  flex-wrap: wrap;
  padding: 0px 0px;
}
.column{
  flex: 25%;
  max-width: 24.4%;
  padding: 0px 4px;
}
.column img{
  margin-top: 8px;
  vertical-align: center;
  width: 100%;
  transition-duration: .5s;
}
.column img:hover{
  box-shadow: 4px 4px 5px rgba(0,0,0,1.7);
}
@media only screen and (max-width: 1000px){
	.one{
		font-size: 40px;
		width: 1290px;
	}
	.tab{
		font-size: 31px;
		width: 1200px;
	}
	.row{
		width: 1720px;
	}
}