h1{
	color: gold;
	text-align: center;
	font-weight: bold;
}
.one{
    background-image: linear-gradient(
    to bottom right,
      maroon,
      #fa7e1e,
      #fa7e1e,
      maroon
  );
  	border-radius: 1.5em;
	box-shadow: 5px 15px 25px #000;
}
body{
	background-image: url("ff1.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.tab{
	max-width: 800%;
	padding:0 1.2em;
	border-radius: 1.5rem;
	background-color: #333;
	line-height: 2em;
	font-weight: bold;
	transition: all 0.5s linear;
	box-shadow: 5px 15px 25px #000;
}
ul{
	display: flex;
	list-style: none;
}
a{
	color: white;
	text-decoration:none;
	padding-right: 25px;
	transition: color 256ms;
}
a:hover{
	color: #297;
}

    {	 shuffle cards image 	}
.container{
	display: flex;
}
.card{
	flex: 1;
	overflow: hidden;
	transition: 0.5s;
}
.card img{
	object-fit: cover;
	filter: grayscale(1);
}
.card:hover{
	flex: 3;
	transition: 0.5s;
}
.card:hover img{
	filter: none;
	transition: 0.5s;
}
@media only screen and (max-width: 1000px){
	.one{
		font-size: 30px;
	}
	.tab{
		font-size: 40px;
	}
	a{
		margin-left: 20px;
	}
}